/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #4070f4;
  color: #fff;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}

form {
  width: 450px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.1);
}

form header {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  color: #4070f4;
}

form .url-input {
  margin: 30px 0;
}

form .url-input .title {
  font-size: 18px;
  color: #373737;
}

form .url-input .field {
  height: 50px;
  width: 100%;
  margin-top: 5px;
  position: relative;
}

form .url-input .field input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #f1f1f7;
  border-bottom: 2px solid #ccc;
}

form .url-input .field input::placeholder {
  color: #b3b3b3;
}

form .url-input .field .bottom-line {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
  transition: all 0.3s linear;
  transform: scale(0);
}

form .url-input .field input:focus ~ .bottom-line,
form .url-input .field input:valid ~ .bottom-line {
  transform: scale(1);
}

form .preview-area {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #4070f4;
  overflow: hidden;
}

form .preview-area.active {
  border: none;
}

form .preview-area .thumbnail {
  width: 100%;
  border-radius: 5px;
  display: none;
}

form .preview-area.active .thumbnail {
  display: block;
}

form .preview-area .icon {
  font-size: 70px;
  color: #4070f4;
}

form .preview-area span {
  color: #4070f4;
  margin-top: 20px;
}

form .preview-area.active .icon,
form .preview-area.active span {
  display: none;
}

form .download-btn {
  height: 52px;
  width: 100%;
  margin: 30px 0 20px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #4070f4;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s linear;
  pointer-events: none;
}

form .download-btn:hover {
  background: darkblue;
}
